.app-recherche {
  position: relative;
  display:inline-block;
  width:20em;
  padding:1.2em;
  vertical-align: top;
  border: 1px solid #13547a;
  border-radius: 4px;
  margin-bottom: 6px;
  background-image: -webkit-linear-gradient(285deg, #13547a 0%, #80d0c7 100%);
  background-image: -moz-linear-gradient(285deg, #13547a 0%, #80d0c7 100%);
  background-image: -o-linear-gradient(285deg, #13547a 0%, #80d0c7 100%);
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.txt-select {
  font-weight: normal;
  margin: 5px 0 5px 0;
  color:#fff;
}

.alert-info { text-align: center; }

#btn-rech {
  width: 100%;
  margin-top: 20px;
}

@media(max-width: 768px) {
  .app-recherche {
    margin-bottom: 0;
    width: 100%;
  }
}