.clear{
    clear: both;
}
h2{
    text-align: center;
    color:#fff;
}


.panel-body{
 width:16em;
 background-color: #2f4c99;
 margin-left:16px;
 float: left; 
  
}
.form-control {
    
    
    margin-left: auto;
    font-size: 20px;
    margin-right: auto;
    background-color: #4469c9;
    border: solid 1px #4469c9;
    color:#9aade2;
    
}
#depart{
    background-color: #4469c9;
    width: 41px;
    color: #9aade2;
    font-size: 17px;
    border-radius: 10px 0px 0px 10px;
    height: 35px;
    text-align: center;
    border: solid 1px #4469c9;
    float:left;

}
#depart2{
    border-radius: 0px 10px 10px 0px;
    width: 83%;
    border: solid 2px 0px 0px 0px black;
    padding-top: 1px;
    height: 35px;
    float:left;
}

#arrive{
    background-color: #4469c9;
    width: 41px;
    color: #9aade2;
    font-size: 17px;
    border-radius: 10px 0px 0px 10px;
    height: 35px;
    margin-top: 3px;
    text-align: center;
    float: left;
}
#arrive2{
    border-radius: 0px 10px 10px 0px;
    margin-top: 3px;
    width:83%;
    border: solid 2px 0px 0px 0px black;
    padding-top: 1px;
    height: 35px;
    float:left;
}


#aller{
   width: 48%;
   height:41px;
    background-color: #fff;
    border-radius: 8px 0px 0px 8px;
    color: #9aade2;
    border: solid 1px;
    margin-top: 3px;
    font-weight: normal;
    text-align: center;
    float:left;
}
#retour{
   width: 48%;
   height:41px;
    background-color: #2f4c99;
    border-radius: 0px 8px 8px 0px;
    color: #9aade2;
    font-weight: normal;
    margin-top: 3px;
    text-align: center;
    border: solid 1px;
     float:left;
}
#date{
    width:50%;
    height: 35px;
    background-color:#2f4c99; 
    color:#fff;
    margin-top: 3px;
    font-size: 12px;
    border-radius: 5px;
    border:solid 1px #4469c9;
    display: inline-block;

} 
#heure{
    width:15%;
     height: 35px;
    background-color:#2f4c99;
    color:#fff;
    font-size: 12px;
    margin-top: 3px;
    border-radius: 5px;
    border:solid 1px #4469c9;
 } 
 #minutes{
    width:15%;
    height: 35px;
    background-color:#2f4c99;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
    border:solid 1px #4469c9;
    
 }
 #handi{
     width:5%;
     height:15px;
     background-color: #eee;
     display: inline-block;
} 
#iti{
    color: #fff;
    float: right;
    margin-right: 90px;
    margin-top: 3px
} 
#submit{
    display: table;
    width:80%;
    height:60px;
    margin-left:  auto;
    margin-right:  auto;
    font-size-adjust: 20px;
    background-color: #fff;
    border-radius: 10px;
} 
#reset{
    width:80%;
    height: 30px;
    display: table;
    background-color: #2f4c99;
    font-size: 14px;
    border:none;
    margin-left: auto;
    margin-right: auto; 
    
} 
label{
    color: white;
}   
@media (max-width: 40em) {

.panel-body{
width:100%;
margin-left:auto;
}
#date{
    font-size: 20px;
}
#heure{
    font-size: 20px;
}
#iti{
    margin-right: 313px;
}
.container-fluid[_ngcontent-c3] a[_ngcontent-c3]{
    margin-top: 30px;
}
}      