<div class="trafic container"> <!-- tester grid bootstrap 
https://v4-alpha.getbootstrap.com/layout/grid/#variable-width-content -->

	<div class="row" *ngIf="trafic!==undefined">
		<!-- Résoud le pb d'affichage pour le premier élément -->

		<h3 class="titre-info">
			<button type="button" class="btn btn-load" (click)="onClick($event)">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
			</button>
			Information trafic à &nbsp;<span id="heure-info">00:00</span>
		</h3>

		<div class="rer" >
			<div class="titre-trafic">
				<span class="titre-rer centrage-2">RER</span>
			</div>

			<!-- Popover ngx-bootstrap + appel API https://api-ratp.pierre-grimaud.fr/v3 -->
			<ul class="liste-rer" *ngFor="let rer of trafic.rers">
				<li>
					<button type="button" 
							class="btn btn-pop logo-rer" 
							popover="{{rer.message}}"
							triggers="mouseenter:mouseleave"
							placement="top">
						<span class="rer-{{rer.line}} cartouche centrage-2">{{rer.line}}</span>
					</button>
				</li>
			</ul> <!-- #liste-rer -->
		</div> <!-- rer -->

		<div class="metro">
			<div class="titre-trafic">
				<span class="titre-metro centrage-2">M</span>
			</div>

			<ul class="liste-metro" *ngFor="let metro of trafic.metros">
				<li>
					<button type="button" 
							class="btn btn-pop logo-metro" 
							popover="{{metro.message}}"
							triggers="mouseenter:mouseleave"
							placement="top">
						<span class="ligne-{{metro.line}} cartouche">{{metro.line}}</span>
					</button>
				</li>
			</ul>
		</div> <!-- .metro -->
	
		<div class="tram">
			<div class="titre-trafic">
				<span class="titre-tram centrage-2">T</span>
			</div>

			<ul class="liste-tram" *ngFor="let tram of trafic.tramways">
				<li>
					<button type="button" 
							class="btn btn-pop logo-tram" 
							popover="{{tram.message}}"
							triggers="mouseenter:mouseleave"
							placement="top">
						<span class="t-{{tram.line}} cartouche centrage-2">{{tram.line}}</span>
					</button>
				</li>
			</ul> <!-- .liste-tram -->
		</div> <!-- .tram -->

		<button type="button" class="btn btn-trafic" (click)="onClick($event)">
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>&nbsp; En savoir plus sur l'info trafic
		</button>

	</div> <!-- .row -->
</div><!-- .trafic .container -->


<!-- *ngIf message = travaux afficher panneau ou si probleme entourer en rouge -->
<!-- placement alternatif: left, top, bottom, left, right -->

<!--
		if ( rer.title || tram.title || metro.title === "Travaux" ) {
			affichage de 	.glyphicon-warning-sign
							.glyphicon-alert
							.fa-wrench
		}

		.glyphicon-flash
		.fa-bolt

		if ralentissement ->
		.fa-clock-o

		if ( rer.title || tram.title || metro.title === "Trafic normal" ) {
			.glyphicon-thumbs-up
		}

		.glyphicon-option-horizontal -> plus d'infos
-->
