<div class="trafic">

  <h3 class="titre-info">Information trafic à 
    <span id="heure-info">00:00 {{heure}}</span>
  </h3>

    <div class="rer">

      <div class="titre-trafic">
        <span class="titre-rer centrage-2">RER</span>
      </div>
      
      <ul class="liste-rer">
        <li class="logo-rer"><span class="rer-a cartouche centrage-2">A</span></li>
        <li class="logo-rer"><span class="rer-b cartouche centrage-2">B</span></li>
      </ul>  <!-- #liste-rer -->

    </div> <!-- rer -->


    <div class="metro">

      <div class="titre-trafic">
        <span class="titre-metro centrage-2">M</span>
      </div>

      <ul class="liste-metro">
        <li class="logo-metro"><span class="ligne-1 cartouche">1</span></li>
        <li class="logo-metro"><span class="ligne-2 cartouche">2</span></li>
        <li class="logo-metro"><span class="ligne-3 cartouche">3</span></li>
        <li class="logo-metro"><span class="ligne-4 cartouche">4</span></li>
        <li class="logo-metro"><span class="ligne-5 cartouche">5</span></li>
        <li class="logo-metro"><span class="ligne-6 cartouche">6</span></li>
        <li class="logo-metro"><span class="ligne-7 cartouche">7</span></li>
        <li class="logo-metro"><span class="ligne-8 cartouche">8</span></li>
        <li class="logo-metro"><span class="ligne-9 cartouche">9</span></li>
        <li class="logo-metro"><span class="ligne-10 cartouche">10</span></li>
        <li class="logo-metro"><span class="ligne-11 cartouche">11</span></li>
        <li class="logo-metro"><span class="ligne-12 cartouche">12</span></li>
        <li class="logo-metro"><span class="ligne-13 cartouche">13</span></li>
        <li class="logo-metro"><span class="ligne-14 cartouche">14</span></li>
      </ul> <!-- #liste-metro -->

    </div> <!-- .metro -->


    <div class="tram">

      <div class="titre-trafic"><span class="titre-tram centrage-2">T</span></div>

      <ul class="liste-tram">
        <li class="logo-tram"><span class="t-1 cartouche centrage-2">1</span></li>
        <li class="logo-tram"><span class="t-2 cartouche centrage-2">2</span></li>
        <li class="logo-tram"><span class="t-3 cartouche centrage-2">3</span></li>
        <li class="logo-tram"><span class="t-4 cartouche centrage-2">4</span></li>
        <li class="logo-tram"><span class="t-5 cartouche centrage-2">5</span></li>
        <li class="logo-tram"><span class="t-6 cartouche centrage-2">6</span></li>
        <li class="logo-tram"><span class="t-7 cartouche centrage-2">7</span></li>
        <li class="logo-tram"><span class="t-8 cartouche centrage-2">8</span></li>
      </ul> <!-- #liste-tram -->

  </div> <!-- tram -->

  <button type="button" class="btn btn-trafic" (click)="onClick($event)">
    En savoir plus sur l'info trafic
  </button>

</div>
