<div class="trafic">
  <ul>

    <li class="titre">Information trafic
      <span class="date">Mardi 20 Juin à </span><span class="heure">00:00</span>
    </li>

    <li class="rer">RER
      <ul class="rer-liste">
        <li>A</li>
        <li>B</li>
      </ul>
    </li>

    <li class="metro">M
      <ul class="metro-liste">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
      </ul>
    </li>

    <li class="tramway">T
      <ul class="tramway-liste">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
      </ul>
    </li>

  </ul>

</div>
