.app-ligne-horaires,
#affTime,
#attente,
#direction,
#numLine,
#logoBus {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.app-ligne-horaires {
  position: relative;
	background:#474e5d;
  background: #4e4376;
  padding: 20px;
  width: 650px;
  margin: 0 auto;
}

#affTime{
  padding: 20px;
  border: 2px solid #fff;
  border-collapse: collapse;
  width:100%;
  background: -webkit-linear-gradient(285deg, #ccc 0%, #fff 100%);
  background: -moz-linear-gradient(285deg, #ccc 0%, #fff 100%);
  background: -o-linear-gradient(285deg, #ccc 0%, #fff 100%);
  background: linear-gradient(15deg, #ccc 0%, #fff 100%);
}

#nomStation {

  color: #474e5d;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

#tabHoraires{
  width: 100%;
  padding: 20px;
}

#affTime th {
  font-size: 18px;
  color: #474e5d;
  text-align: center;
}

#nomStation,
#affTime td {
  text-align: center;
  text-transform: uppercase;
}

#direction,
#attente {
  font-size: 16px;
  font-weight: 800;
  color: #4e4376;
  background: #fff;
  border: 1px #ccc solid;
  margin: 10px;
  padding: 10px;
}

#logoBus {
  padding: 10px;
  border: 1px #ccc solid;
  background: #4e4376;
  color: #fff;
  width: 45px;
  line-height: 23px;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px auto;
}

@media(max-width: 768px) {
  .app-ligne-horaires {
    margin: 2px 0;
    width: 100%;
  }
}
