* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li { list-style: none; }

a { text-decoration: none; }

a, select { cursor: pointer; }

@import url('https://fonts.googleapis.com/css?family=Cambay|Press+Start+2P|Roboto');

/*
Fonts "regular" :
font-family: 'Cambay', sans-serif;
font-family: 'Roboto', sans-serif;

Fonts "ordi":
font-family: 'Press Start 2P', cursive;

font-family: Montserrat, sans-serif;

*/

body {
  font-family: 'Roboto', sans-serif;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  color:#222 ;
  background: #ededed;
}

p { font-size: 16px; }

.margin { margin-bottom: 45px; }

.bg-1 {
  background-color: #2f4c99; /* Bleu Itinéraire */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.bg-5 {
  background: #f5f5f5; /* Faux blanc Trafic */
  color: #222;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.navbar-brand{
  
}
@media(max-width: 975px) {
  
}
