.container-fluid{
    width:100%;
   /* height:600px;*/
    background: url(/assets/img/accueil.jpg) center;
    background-size: cover;
}
.container-fluid a{
    display: inline-block;
    width:150px;
    height:40px;
    text-align: center;
    background-color: #038674;
    color:white;
    font-size: 12px;
    border-radius:10px;
    text-decoration: none;
    margin-top: 353px;
    margin-left: 10px;
    padding-top: 10px;
  
}
@media (max-width: 40em){
.container-fluid a{
    margin-top: 30px;
    margin-left: 200px;
}
.container-fluid{
    background-color: #fff;
    background: #fff;
}
}